html(lang="en")
  head
    title=title
    link(rel="stylesheet", href="/styles.css" type="tex/css")
  body
    .site-wrap
      h1 Hello World

    script(src="/sock.io/socket.io.js")
    script(src="/application.js")
